<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>收集表单数据</title>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>

<body>
    <!-- 
        收集表单数据：
            若：<input type = "text"/> 则v-model收集的是value值，用户输入的就是value的值     
            若：<input type = "radio"/> 则v-model收集的是value值，且要给标签配置value的值     
            若：<input type = "checkbox"/> 
                1. 没有配置input的value属性，那么收集的就是checked（勾选 or 未勾选，是boolean值）
                2. 配置input的value属性：
                    （1）v-model的初始值是非数组，那么收集的就是checked（勾选 or 未勾选，是boolean值）
                    （2）v-model的初始值是非数组，那么收集的就是value组成的数组
            备注：v-model的三个修饰符：
                    lazy：失去焦点再收集数据
                    number：输入字符串转换为有效数字
                    trim：输入首尾空格过滤    
     -->
    <!-- 准备一个容器 -->
    <div id="root">
        <form>
            账号：<input type="text" v-model.trim=userInfo.account> <br><br>
            密码：<input type="password" v-model=userInfo.password> <br><br>
            年龄：<input type="number" v-model.number=userInfo.age> <br><br>
            性别：
            男<input type="radio" name="sex" value="male" v-model="userInfo.sex">
            女<input type="radio" name="sex" value="female" v-model="userInfo.sex"> <br><br>
            爱好：
            学习<input type="checkbox" value="study" v-model="userInfo.hobby">
            游戏<input type="checkbox" value="game" v-model="userInfo.hobby">
            睡觉<input type="checkbox" value="sleep" v-model="userInfo.hobby"> <br><br>
            城市：
            <select v-model="userInfo.city">
                <option value="">请选择城市</option>
                <option value="beijing">北京</option>
                <option value="shenzhen">深圳</option>
                <option value="guangzhou">广州</option>
            </select> <br><br>
            其他：
            <textarea v-model.lazy="userInfo.other"></textarea>
        </form>
    </div>
    <script>
        new Vue({
            el: '#root',
            data: {
                userInfo: {
                    account: '',
                    password: '',
                    age: '',
                    sex: '',
                    hobby: [],
                    city: '',
                    other: ''
                }
            }
        })
    </script>
</body>


</html>